doctype html
html
  include ./header.jade
  body
    table(style='width:100%')
      thead
        th ID
        th First Name
        th Last Name
        th email
        th Affiliation
      tbody
      -var i = data
      each value in i
        tr
          td=value.PrimaryID
          td
            a(href=value.PrimaryID) #{value.FirstName}
          td
            a(href=value.PrimaryID) #{value.LastName}
          td
            a(href=value.PrimaryID) #{value.email}
          td
            a(href=value.PrimaryID) #{value.Affiliation}


