include ./header.jade
h2.col-md-5.col-md-offset-4.list-head Complete List of Contributors
table.table-striped.table-bordered(style='width:100%')
  thead
    th First Name
    th Last Name
    th email
    th Affiliation
  tbody
  -var i = data
  each value in i
    tr
      td
        a.data(href=value.PrimaryID) #{value.FirstName}
      td
        a.data(href=value.PrimaryID) #{value.LastName}
      td
        a.data(href=value.PrimaryID) #{value.email}
      td
        a.data(href=value.PrimaryID) #{value.Affiliation}
include ./footer.jade


