doctype html
html
  include ./header.jade
  head
    link(rel='stylesheet', type='text/css', href='../stylesheet/main.css')
  body
    h1 #{name}
    h2 Add Donation?
    form(action='/name',method='post')
        div(data-role='fieldcontain')
          fieldset(data-role='controlgroup')
            label(for='date') date
               input(id='date',type='text',value='',placeholder='10/27/1981',name='date')
        div#passworddiv(data-role='fieldcontain')
          fieldset(data-role='controlgroup')
            label(for='amount') amount
               input(id='amount',type='text',value='',placeholder='100.00',name='amount')
        div(id='hiddendiv',data-role='fieldcontain')
          fieldset(data-role='controlgroup')
            label(for='method') method of payment
               input(id='method',type='text',value='',placeholder='check',name='method')
        div(data-role='fieldcontain')
          input(type='submit',value='Add Donation',data-transition='fade', data-theme='c')
    table(style='width:100%')
      thead
        th ID
        th First Name
        th Last Name
        th email
        th Affiliation
      tbody
      -var i = data
      each value in i
        tr
          td=value.PrimaryID
          td
            a(href=value.PrimaryID) #{value.FirstName}
          td
            a(href=value.PrimaryID) #{value.LastName}
          td
            a(href=value.PrimaryID) #{value.email}
          td
            a(href=value.PrimaryID) #{value.Affiliation}
    table(style='width:100%')
      thead
        th ID
        th Date of Donation
        th Amount of Donation
        th Method of Donation
      tbody
      -var i = data
      each value in i
        tr
          td #{value.DonorID}
          td #{value.Date}
          td #{value.amount}
          td #{value.method}

