include ./header.jade
div.container
  div.container
    div.container
      h5.col-md-4
        a(href='/#{pass}') Back to #{fullName}'s contact page
      h3.col-md-3.top-header Add Volunteer Time
    form.donation-form(action='/#{name}/volunteer',method='post')
        div.col-md-3.push-down(data-role='fieldcontain')
          fieldset(data-role='controlgroup')
            label(for='date') date of service
               input(id='date',type='date',value='',placeholder='10/27/1981',name='Date')
        div.col-md-3.push-down(data-role='fieldcontain')
          fieldset(data-role='controlgroup')
            label(for='amount') Hours Worked
               input(id='amount',type='text',value='',placeholder='5',name='Hours')
        div.col-md-3.push-down(id='hiddendiv',data-role='fieldcontain')
          fieldset(data-role='controlgroup')
            label(for='method') Department
               input(id='method',type='text',value='',placeholder='Garden',name='Department')
        div.col-md-3.donation-btn.push-down(data-role='fieldcontain')
          input(type='submit',value='Add Hours',data-transition='fade', data-theme='c')
    h3.col-md-3.col-md-offset-4.vol-title Volunteer History
    table.donation-table.table-bordered.table-striped(style='width:100%')
      thead
        th Date of Service
        th Hours of Service
        th Dept. of Service
      tbody
      -var i = data
      each value in i
        tr
          td #{value.Date}
          td #{value.Hours}
          td #{value.Department}
    table(style='width:95%')
      thead
        th.fix Total Hours
      tbody
        tr
          td.fix #{total}

include ./footer.jade
