include ./header.jade
div.name-container.left
  h2 Add Volunteer?
  form(action='/#{name}/volunteer',method='post')
      div(data-role='fieldcontain')
        fieldset(data-role='controlgroup')
          label(for='Date') Date
             input(id='Date',type='date',value='',placeholder='10/27/1981',name='Date')
      div(data-role='fieldcontain')
        fieldset(data-role='controlgroup')
          label(for='Hours') Hours
             input(id='amount',type='text',value='',placeholder='100.00',name='Hours')
      div(id='hiddendiv',data-role='fieldcontain')
        fieldset(data-role='controlgroup')
          label(for='Department') Department
             input(id='method',type='text',value='',placeholder='check',name='Department')
      div(data-role='fieldcontain')
        input(type='submit',value='Add Donation',data-transition='fade', data-theme='c')
  table(style='width:100%')
    thead
      th First Name
      th Last Name
      th email
      th Affiliation
    tbody
      tr
        td #{rows.FirstName}
        td #{rows.LastName}
        td #{rows.email}
        td #{rows.Affiliation}
  table(style='width:100%')
    thead
      th Volunteer Date
      th Hours Worked
      th Department
    tbody
    -var i = data
    each value in i
      tr
        td #{value.Date}
        td #{value.Hours}
        td #{value.Department}
  table(style='width:100%')
    thead
      th total donations
    tbody
      tr
        td #{total}
        include ./footer.jade
